.status{
    display: block;
    justify-content: center;
    text-align: center;
}

.inputStatus{
    width: 100%;
    accent-color: rgb(4, 134, 204);
}

.data{
    display: flex;
    justify-content: space-between;
}
